-optimizationpasses 7
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*


#------------------  下方是android平台自带的排除项，这里不要动         ----------------

-keep public class * extends android.app.Activity{
	public <fields>;
	public <methods>;
}
-keep public class * extends android.app.Application
{
	public <fields>;
	public <methods>;
}
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference


-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keepclasseswithmembers class * {
	public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
	public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepattributes *Annotation*

-keepclasseswithmembernames class *{
	native <methods>;
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

#------------------  下方是共性的排除项目         ----------------
# 方法名中含有“JNI”字符的，认定是Java Native Interface方法，自动排除
# 方法名中含有“JRI”字符的，认定是Java Reflection Interface方法，自动排除

-keepclasseswithmembers class * {
    ... *JNI*(...);
}

-keepclasseswithmembernames class * {
	... *JRI*(...);
}

-keep class **JNI* {*;}

#------------------  来自网络：解决android.v4包的混淆错误         ---------------- 
-libraryjars libs/android-support-v4.jar
-dontwarn android.support.v4.**
-keep class android.support.v4.** { *; }
-keep public class * extends android.support.v4.**
-keep public class * extends android.app.Fragment

#------------------  Jsoup  ---------------- 
-dontwarn org.jsoup.**
-keep class org.jsoup.** {  
*;  
}

#------------------  actionbarsherlock  ---------------- 
-dontwarn com.actionbarsherlock.**
-keep class com.actionbarsherlock.** {  
*;  
}

#------------------  slidingmenu  ---------------- 
-dontwarn com.jeremyfeinstein.**
-keep class com.jeremyfeinstein.** {  
*;  
}

#------------------  ACRA  ---------------- 
-dontwarn org.acra.**
-keep class org.acra.** {  
*;  
}

#------------------  drag-sort-listview  ---------------- 
-dontwarn com.mobeta.android.dslv.**
-keep class com.mobeta.android.dslv.** {  
*;  
}

#------------------  卸载上报  ----------------
-keepclasseswithmembers class com.tools.tvguide.uninstall.NativeFileObserver {
native <methods>;
}

#------------------  AdMob  ---------------- 
-dontwarn com.google.ads.**
-keep class com.google.ads.** {  
*;  
}

#------------------  多普广告  ----------------
-keep public class com.tw.screenshot.wptools.** {*;}
-keep public interface com.tw.screenshot.wptools.** {*;}
-dontwarn com.tw.screenshot.wptools.**
